
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myResolutionLabel" translate="tg24HApp.resolution.home.createOrEditLabel">Create or edit a Resolution</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.resolution.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.resolution.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tg24HApp.resolution.productId" for="field_productId">Product Id</label>
            <input type="text" class="form-control" name="productId" id="field_productId"
                    ng-model="vm.resolution.productId"
                    required />
            <div ng-show="editForm.productId.$invalid">
                <p class="help-block"
                    ng-show="editForm.productId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="tg24HApp.resolution.instanceId" for="field_instanceId">Instance Id</label>
            <input type="text" class="form-control" name="instanceId" id="field_instanceId"
                    ng-model="vm.resolution.instanceId"
                    required />
            <div ng-show="editForm.instanceId.$invalid">
                <p class="help-block"
                    ng-show="editForm.instanceId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="tg24HApp.resolution.manager" for="field_manager">Manager</label>
            <input type="text" class="form-control" name="manager" id="field_manager"
                    ng-model="vm.resolution.manager"
                    required />
            <div ng-show="editForm.manager.$invalid">
                <p class="help-block"
                    ng-show="editForm.manager.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="tg24HApp.resolution.data" for="field_data">Data</label>
            <input type="text" class="form-control" name="data" id="field_data"
                    ng-model="vm.resolution.data"
                    required />
            <div ng-show="editForm.data.$invalid">
                <p class="help-block"
                    ng-show="editForm.data.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
